
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReservationInfo</title>
    <link href="~/OuterTools/css/bootstrap.css" rel="stylesheet" />
    <script src="~/OuterTools/js/jquery.js"></script>
    <script src="~/OuterTools/js/bootstrap.js"></script>
    <script>

        $(function () {

            setTimeout(function () {

                window.location = "/TicketShopping/MovieList"

            }, 10000)

        })

    </script>
</head>
<body>
    <div class="jumbotron">

        Congratulations, your reservation has been made successfully. Please confirm it at the box office 30 minutes before the session, otherwise it will be cancelled.
    </div>
</body>
</html>
